<nav Class="navbar navbar-default">
  <div id="xd" class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a  routerLinkActive="active-link" routerLink="" [routerLinkActiveOptions]="{exact:
          true}"> Characters </a></li>
        <li><a  routerLinkActive="active-link" routerLink="/streams" [routerLinkActiveOptions]="{exact:
          true}"> Streams </a></li>
          <li><a  routerLinkActive="active-link" routerLink="/gear" [routerLinkActiveOptions]="{exact:
            true}"> Gear </a></li>
          <li><a  style="float:right" routerLinkActive="active-link" routerLink="/about" [routerLinkActiveOptions]="{exact:
            true}"> About </a></li>
      </ul>
    </div>
  </div>
  </nav>