<app-navbar> </app-navbar>
<br>
<div class="container-page">
<div class="img-warcraft">
<img src="https://timelinecovers.pro/facebook-cover/download/video-game-world-of-warcraft-travelers-facebook-cover.jpg" alt="Cover" class="cover">
</div>
<div class="container color-dark">
  <div class="col">
    <p> Character </p>
  </div>
  <div class="col">
    <p> Character Log ({{ itemCount }})</p>
  </div>
</div>
<div class="container color-light" [@quests]="quests.length">
  
  <div class="col">
    <p class="sm">Insert your character here.</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Your character" autocomplete=off [(ngModel)]='questText'>
      <input type="text" class="txt" name="item" placeholder="Your realm" autocomplete=off [(ngModel)]='server'>
      
      
      <button mat-raised-button color="primary" type="submit" class="btn2" [value]="btnText" (click)="searchCharacter()">Search Character</button>
      <!-- <button mat-raised-button color="primary" type="submit" class="btn2" value="Delete Last Information" (click)="deleteQuest()"> Delete Last Information </button> -->
      
    </form>


  </div> 
  <div id="idDiv" class="col">
    <div class="quest-container" *ngFor="let variable of quests; let i = index" (click)="deleteQuest(i)">
      
        <img [src]="img[i]" id="undefined"/>

        <!-- style="display:inline-block; margin-left: 1%;
        margin-top: 1% -->

        <div id='texto'>  {{ variable }} </div>

    </div>
  </div>
</div>
</div>
